html, body, .container {
    height: 95%;
    max-width: 960px;
    margin: auto;
}

header {
    height: 50px;    
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px;

}

.container {
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    justify-content:center;
}

.container-row {
    display: flex;
    /* border: 1px solid blue; */
    flex: auto;
}

.grid-box {
    /* border: 1px solid red; */
    /* margin: 5px; */
    flex: auto;
}

footer {
    height: 50px;
}

/* .grid-box:mouse-enter {
    background-color: blue;
} */